@font-face {
    font-family: GreatVibes;
    src: url("../font/GreatVibes-Regular.otf") format("opentype");
}

@font-face {
    font-family: Gravity;
    src: url("../font/Gravity-Regular.otf") format("opentype");
}